/*************
COMMON
*************/
@use './variables' as *;


.big-container {
    width: 1765px;
    margin: 0 auto;
}

.small-container {
    width: 1315px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    all: unset;
}

.dot {
    color: $secondary-color;
}