/*************
VARIABLES
*************/

$text-main: #000000;
$text-secondary: #A6A6A6;
$secondary-color: #FF4612;
$white: #fff;
$team-bg: #FAFAFA;
$testimonials-bg: #1E1C1C;
$text_tertiary: #D2D2D2;
$carousel-bar: #606060;